<launch>
<arg name="gui" default="False" />
<param name="robot_description" textfile="/home/mostafa/catkin_ws/src/beginner_tutorials/urdf/tt.urdf" />
<param name="use_gui" value="$(arg gui)"/>
<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
<node name="odometry_publisher" pkg="odometry_publisher_tutorial" type="odometry_publisher" />
<node name="rviz" pkg="rviz" type="rviz" args="/home/mostafa/catkin_ws/install/share/myrobot_description/myrobot.rviz" required="true" />
</launch>
